@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root{
    min-height: 100%;
}

body{
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    width: 60%;
}

.card-aluno{
    position: relative;
    top: 200px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    border-radius: 5px;

    background-color: #fff;
}

p{
    margin: 0px;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.container-buttons{
    width: 32%;
    display: flex;
    justify-content: space-between;
}

.btn{
    width: 120px;
}