@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root{
    min-height: 100%;
}

body{
    background-color: #f2f2f2;
}

.header{
    width: 100%;
    height: 65px;
    background-color: #0B0E0F;
    padding-right: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.link{
    font-size: 14px;
    color: #fff;

    font-family: 'Roboto', sans-serif;
}

.btn-registro{
    background-color: #5bd3c7;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    margin-left: 20px;
}
