@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root{
    min-height: 100%;
}

body{
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    width: 45%;
    height: 380px;
    margin-top: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.title-card{
    width: auto;
    height: auto;
    margin-top: 40px;
    margin-bottom: 25px;
}

.title{
    color: #000;
    font-size: 30px;

    font-family: 'Roboto', sans-serif;
}

form{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control{
    border-color: #e3e3e3;
    width: 65%;
    margin-bottom: 5%;
    
    font-family: 'Roboto', sans-serif;
}

.btn{
    width: 150px;
    background-color: #5bd3c7;
    margin-bottom: 20px;
}

.alert{
    width: 70%;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 660px) {
    .card{
        width: 85%;
        height: 500px;
        margin-top: 100px;
        background-color: #fff;
    }
  }